.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.particleRoot {
  --particle-duration: 25s;
  /* --particle-offset: 0.5; */
  --particle-delay: calc(
    -1 * var(--particle-offset) * var(--particle-duration)
  );

  --circle-duration: 5s;
  /* --circle-offset: 0; */
  --circle-delay: calc(-1 * var(--circle-offset) * var(--circle-duration));

  --eight-duration: 13s;
  /* --eight-offset: 0; */
  --eight-delay: calc(-1 * var(--eight-offset) * var(--eight-duration));

  animation: gearClipPath infinite linear;
  animation-duration: var(--particle-duration);
  animation-delay: var(--particle-delay);
}

/* ############# Gear clip path animations ############### */

@keyframes gearClipPath {
  43.19% {
    clip-path: none;
  }

  43.2% {
    clip-path: url("#hero-gear-clip");
  }

  79.6% {
    clip-path: url("#hero-gear-clip");
  }

  82% {
    clip-path: none;
  }
}
@supports (offset-path: path("m0 0")) {
  @keyframes gearClipPath {
    44.99% {
      clip-path: none;
    }

    45% {
      clip-path: url("#hero-gear-clip");
    }

    75% {
      clip-path: url("#hero-gear-clip");
    }

    75.01% {
      clip-path: none;
    }
  }
}

/* ############# Circle animation offset ############# */

.xCircleAnim {
  animation: xCircleAnim infinite ease-in-out;
  animation-duration: var(--circle-duration);
  animation-delay: var(--circle-delay);
}
@keyframes xCircleAnim {
  50% {
    transform: translateX(1.6875%);
  }
}

.yCircleAnim {
  animation: yRotAnim infinite ease-in-out;
  animation-duration: var(--circle-duration);
  animation-delay: calc(0.25 * var(--circle-duration) + var(--circle-delay));
}
@keyframes yCircleAnim {
  50% {
    transform: yCircleAnim(3%);
  }
}

/* ############# Eight shape animation offset ############# */
.xShape8Anim {
  animation: xShape8Anim infinite reverse ease-in-out;
  animation-duration: calc(0.5 * var(--eight-duration));
  animation-delay: calc(0.25 * var(--eight-duration) + var(--eight-delay));
}
@keyframes xShape8Anim {
  50% {
    transform: translateX(1.125%);
  }
}

.yShape8Anim {
  animation: yShape8Anim infinite reverse ease-in-out;
  animation-duration: var(--eight-duration);
  animation-delay: calc(0.125 * var(--eight-duration) + var(--eight-delay));
}
@keyframes yShape8Anim {
  50% {
    transform: translateY(2%);
  }
}

/* ############# Particle translations around gear ############# */

.moveAroundGearAnim {
  animation: moveAroundGearAnim infinite ease-in-out;
  animation-duration: var(--particle-duration);
  animation-delay: var(--particle-delay);
}

@keyframes moveAroundGearAnim {
  0% {
    transform: translate(54%, 63%);
  }

  24.6% {
    transform: translate(42%, 84%);
  }

  43.2% {
    transform: translate(29%, 77%);
  }

  62.9% {
    transform: translate(28%, 60%);
  }

  79.6% {
    transform: translate(40%, 57%);
  }

  100% {
    transform: translate(54%, 63%);
  }
}

@supports (offset-path: path("m0 0")) {
  .moveAroundGearAnim {
    offset-path: path(
      "m1051.7 728.69c56.132 71.499-51.771 171.33-241.31 178.69-140.41-0.54909-228.42-53.41-229.57-115.9-1.1583-160.41 22.963-191.74 195.66-167.89 140.12 18.582 208.42 32.578 275.22 105.09z"
    );
    animation: offsetPathMove infinite linear;
    animation-duration: var(--particle-duration);
    animation-delay: var(--particle-delay);
  }

  @keyframes offsetPathMove {
    from {
      offset-distance: 0%;
    }

    to {
      offset-distance: 100%;
    }
  }
}
