.overlay {
  transition: all .2s linear, width 0s linear, height 0s linear;
  opacity: 0;
}
.checkbox:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

.checkbox ~ header > .mainNav {
  transition: box-shadow .25s ease;
}

.checkbox:checked ~ header > .mainNav {
  transition-duration: .1s;
  --tw-shadow-color: transparent;
}

.checkbox ~ header .mobileMenu {
  transition: all .25s ease;
  transform: translateY(-100%);
  opacity: 0;
}

.checkbox:checked ~ header .mobileMenu {
  transition-duration: .1s;
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

.checkbox:checked ~ header .openIcon {
  visibility: hidden;
}

.checkbox:checked ~ header .closeIcon {
  visibility: visible;
}